In [7]:
import requests
import pandas as pd 
headers = {
'Authorization': 'Bearer keycj6dRwXwYLEjiv',
}

params = (
('view', 'Main'),
)

r = requests.get('https://api.airtable.com/v0/appVFIVS0NkWT41fM/products?api_key=keycj6dRwXwYLEjiv&sortField=_createdTime&sortDirection=desc', headers=headers, params=params)
dict = r.json()
dataset = []
productID = []
productCode = []
name = []
for i in dict['records']:
     dict = i['fields']
     dataset.append(dict)
print(dataset)
print('\n')
print(pd.DataFrame(dataset))
print('\n')
for dicts in dataset:
    productID.append(dicts.get('productID'))
    productCode.append(dicts.get('productCode'))
    name.append(dicts.get('name'))
print(name)
df = pd.DataFrame(name)
print(pd.DataFrame(name))

print("Showing first 5 entries",df.head(5))

[{'productID': '1006', 'productCode': 'PEC', 'name': 'Pencil HB', 'quantity': 0, 'price': 99999.99, 'supplierID': '501', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recVCPApuUz6hHtja'}, {'productID': '2001', 'productCode': 'PEC', 'name': 'Pencil 3B', 'quantity': 500, 'price': 0.52, 'supplierID': '503', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'rec3a5OT6aiD6BtFi'}, {'productID': '2004', 'productCode': 'PEC', 'name': 'Pencil 6B', 'quantity': 500, 'price': 0.47, 'supplierID': '502', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recznH6EiyFvXfVun'}, {'productID': '1002', 'productCode': 'PEN', 'name': 'Pen Blue', 'quantity': 8000, 'price': 1.25, 'supplierID': '501', 'link-to-product-type': ['rec08NOK4qvU6QYwj'], 'record_id': 'reczpU2sKSjXtwhZ3'}, {'productID': '1004', 'productCode': 'PEC', 'name': 'Pencil 2B', 'quantity': 10000, 'price': 0.48, 'supplierID': '501', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recK73LOkp33AfY8Z'}, {'productID': '2002', 'productCode': 'PEC', 'name': 'Pencil 4B', 'quantity': 200, 'price': 0.62, 'supplierID': '501', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recNRJL0CXdzvyr1M'}, {'productID': '1001', 'productCode': 'PEN', 'name': 'Pen Red', 'quantity': 5000, 'price': 1.23, 'supplierID': '501', 'link-to-product-type': ['rec08NOK4qvU6QYwj'], 'record_id': 'recSuYjfVpVEPcP0L'}, {'productID': '2003', 'productCode': 'PEC', 'name': 'Pencil 5B', 'quantity': 100, 'price': 0.73, 'supplierID': '503', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recS8ewzvtj2qcBHi'}, {'productID': '1003', 'productCode': 'PEN', 'name': 'Pen Black', 'quantity': 2000, 'price': 1.25, 'supplierID': '501', 'link-to-product-type': ['rec08NOK4qvU6QYwj'], 'record_id': 'recmK3Tc4WOZI83mo'}, {'productID': '1005', 'productCode': 'PEC', 'name': 'Pencil 2H', 'quantity': 8000, 'price': 0.49, 'supplierID': '502', 'link-to-product-type': ['rechIqwrLbYB8DxGM'], 'record_id': 'recp2FHV7XmUV16f9'}]


  productID productCode       name  quantity     price supplierID  \
0      1006         PEC  Pencil HB         0  99999.99        501
1      2001         PEC  Pencil 3B       500      0.52        503
2      2004         PEC  Pencil 6B       500      0.47        502
3      1002         PEN   Pen Blue      8000      1.25        501
4      1004         PEC  Pencil 2B     10000      0.48        501
5      2002         PEC  Pencil 4B       200      0.62        501
6      1001         PEN    Pen Red      5000      1.23        501
7      2003         PEC  Pencil 5B       100      0.73        503
8      1003         PEN  Pen Black      2000      1.25        501
9      1005         PEC  Pencil 2H      8000      0.49        502

  link-to-product-type          record_id
0  [rechIqwrLbYB8DxGM]  recVCPApuUz6hHtja
1  [rechIqwrLbYB8DxGM]  rec3a5OT6aiD6BtFi
2  [rechIqwrLbYB8DxGM]  recznH6EiyFvXfVun
3  [rec08NOK4qvU6QYwj]  reczpU2sKSjXtwhZ3
4  [rechIqwrLbYB8DxGM]  recK73LOkp33AfY8Z
5  [rechIqwrLbYB8DxGM]  recNRJL0CXdzvyr1M
6  [rec08NOK4qvU6QYwj]  recSuYjfVpVEPcP0L
7  [rechIqwrLbYB8DxGM]  recS8ewzvtj2qcBHi
8  [rec08NOK4qvU6QYwj]  recmK3Tc4WOZI83mo
9  [rechIqwrLbYB8DxGM]  recp2FHV7XmUV16f9


['Pencil HB', 'Pencil 3B', 'Pencil 6B', 'Pen Blue', 'Pencil 2B', 'Pencil 4B', 'Pen Red', 'Pencil 5B', 'Pen Black', 'Pencil 2H']
           0
0  Pencil HB
1  Pencil 3B
2  Pencil 6B
3   Pen Blue
4  Pencil 2B
5  Pencil 4B
6    Pen Red
7  Pencil 5B
8  Pen Black
9  Pencil 2H


Showing first 5 entries            0
0  Pencil HB
1  Pencil 3B
2  Pencil 6B
3   Pen Blue
4  Pencil 2B

<center><h1>MySQL Data Manipulation</h1></center>

# Retrieve MySQL Records

In [29]:
from flask import Flask, render_template, jsonify
import pymysql.cursors #initialise PyMysql module
import pandas as pd # initialise pandas module *********
connection = pymysql.connect(host="localhost", 
                     user="root",   
                     passwd="root", 
                     db="southwind",   
                     charset='utf8mb4',
                     cursorclass=pymysql.cursors.DictCursor)
with connection.cursor() as cursor:
        # Execute SQL Select command in Python using PyMysql built-in methods 
        sql = "SELECT * FROM products"
        cursor.execute(sql)
        # Display results
        result = cursor.fetchall()
print(result)
print(pd.DataFrame(result)) # ********
print('\n')
connection.close()

[{'productID': 1001, 'productCode': 'PEN', 'name': 'Pen Red', 'quantity': 5000, 'price': Decimal('1.23'), 'supplierID': 501}, {'productID': 1002, 'productCode': 'PEN', 'name': 'Pen Blue', 'quantity': 8000, 'price': Decimal('1.25'), 'supplierID': 501}, {'productID': 1003, 'productCode': 'PEN', 'name': 'Pen Black', 'quantity': 2000, 'price': Decimal('1.25'), 'supplierID': 501}, {'productID': 1004, 'productCode': 'PEC', 'name': 'Pencil 2B', 'quantity': 10000, 'price': Decimal('0.48'), 'supplierID': 501}, {'productID': 1005, 'productCode': 'PEC', 'name': 'Pencil 2H', 'quantity': 8000, 'price': Decimal('0.49'), 'supplierID': 502}, {'productID': 1006, 'productCode': 'PEC', 'name': 'Pencil HB', 'quantity': 0, 'price': Decimal('99999.99'), 'supplierID': 501}, {'productID': 2001, 'productCode': 'PEC', 'name': 'Pencil 3B', 'quantity': 500, 'price': Decimal('0.52'), 'supplierID': 503}, {'productID': 2002, 'productCode': 'PEC', 'name': 'Pencil 4B', 'quantity': 200, 'price': Decimal('0.62'), 'supplierID': 501}, {'productID': 2003, 'productCode': 'PEC', 'name': 'Pencil 5B', 'quantity': 100, 'price': Decimal('0.73'), 'supplierID': 503}, {'productID': 2004, 'productCode': 'PEC', 'name': 'Pencil 6B', 'quantity': 500, 'price': Decimal('0.47'), 'supplierID': 502}]
   productID productCode       name  quantity     price  supplierID
0       1001         PEN    Pen Red      5000      1.23         501
1       1002         PEN   Pen Blue      8000      1.25         501
2       1003         PEN  Pen Black      2000      1.25         501
3       1004         PEC  Pencil 2B     10000      0.48         501
4       1005         PEC  Pencil 2H      8000      0.49         502
5       1006         PEC  Pencil HB         0  99999.99         501
6       2001         PEC  Pencil 3B       500      0.52         503
7       2002         PEC  Pencil 4B       200      0.62         501
8       2003         PEC  Pencil 5B       100      0.73         503
9       2004         PEC  Pencil 6B       500      0.47         502

# Create MySQL Table

In [96]:
import pymysql.cursors #initialise PyMysql module
import pandas as pd # initialise pandas module
connection = pymysql.connect(host="localhost", 
                     user="root",   
                     passwd="root", 
                     db="abc",   
                     charset='utf8mb4',
                     cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
sql1 = "drop table if exists test"
sql2 = "CREATE TABLE test (productID int(10) unsigned NOT NULL,productCode char(3) NOT NULL DEFAULT '',name varchar(30) NOT NULL DEFAULT '',quantity int(10) unsigned NOT NULL DEFAULT 0,price decimal(7,2) NOT NULL DEFAULT 99999.99,supplierID int(10) unsigned NOT NULL)"
try:
    cursor.execute(sql1)
    cursor.execute(sql2)
    print("Table successfully created.")
except Exception as e:
    print("Exception occurred.",e)
connection.close()

Table successfully created.

# Create MySQL Record

In [32]:
import pandas as pd # initialise pandas module
connection = pymysql.connect(host="localhost", 
                     user="root",   
                     passwd="root", 
                     db="abc",   
                     charset='utf8mb4',
                     cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
# Execute SQL Insert command in Python using PyMysql built-in methods 
sql = "INSERT INTO test VALUES('2028','PEN','Pen Purple', 600,15.5, 503),('2029','PEN','Pen Black', 400,25.5, 501);"
try:
    cursor.execute(sql)
    connection.commit()
    print("Entry successfully inserted.")
except Exception as e:
    print("Exception occurred.",e)
# Display results
sql = "SELECT * FROM test"
cursor.execute(sql)
result = cursor.fetchall()
connection.close()
# dataset = []
# temp = {}
# i = 0
# for row in result:
#     temp[i] = row
#     dataset.append(temp[i])
#     i = i + 1
print('\n')
print(pd.DataFrame(result)) # additional command
print('\n')

Entry successfully inserted.


   productID productCode        name  quantity  price  supplierID
0       2020         PEN  Pen Purple       750  22.99         503
1       2021         PEN  Pen Purple       700  22.99         503
2       2022         PEN   Pen Black       400  25.50         501
3       2028         PEN  Pen Purple       600  15.50         503
4       2029         PEN   Pen Black       400  25.50         501

# Update MySQL Record

In [34]:
import pandas as pd # initialise pandas module
connection = pymysql.connect(host="localhost", 
                     user="root",   
                     passwd="root", 
                     db="abc",   
                     charset='utf8mb4',
                     cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
# Execute SQL update command in Python using PyMysql built-in methods 
sql = "UPDATE test SET quantity = quantity + 50, price = 32.99 WHERE productID = 2028;"
try:
    cursor.execute(sql)
    connection.commit()
    print("Entry successfully updated.")
except Exception as e:
    print("Exception occurred.",e)
# Display results
sql = "SELECT * FROM test"
cursor.execute(sql)
result = cursor.fetchall()
connection.close()
print('\n')
print(pd.DataFrame(result)) # additional command
print('\n')

Entry successfully updated.


   productID productCode        name  quantity  price  supplierID
0       2020         PEN  Pen Purple       750  22.99         503
1       2021         PEN  Pen Purple       700  22.99         503
2       2022         PEN   Pen Black       400  25.50         501
3       2028         PEN  Pen Purple       700  32.99         503
4       2029         PEN   Pen Black       400  25.50         501

# Delete MySQL Record

In [ ]:
import pandas as pd # initialise pandas module
connection = pymysql.connect(host="localhost", 
                     user="root",   
                     passwd="root", 
                     db="abc",   
                     charset='utf8mb4',
                     cursorclass=pymysql.cursors.DictCursor)
cursor = connection.cursor()
# Execute SQL delete command in Python using PyMysql built-in methods 
# sql = "DELETE FROM test WHERE name LIKE 'Pen Black';"
sql = "DELETE FROM test WHERE productID = 2028;"
try:
    cursor.execute(sql)
    connection.commit()
    print("Entry successfully deleted.")
except Exception as e:
    print("Exception occurred.",e)
# Display results
sql = "SELECT * FROM test"
cursor.execute(sql)
result = cursor.fetchall()
connection.close()
print('\n')
print(pd.DataFrame(result)) # additional command
print('\n')